<%- include("header") -%>
<h2>This is about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit corporis amet esse error ad voluptatum, eligendi expedita reprehenderit iure mollitia, eaque dicta perferendis voluptas vel, similique ab maiores ducimus quisquam?</p>

<%- include("footer") -%>